.App {
  text-align: center;
}

.my-button {
	border: solid 1px; 
	width: 100px;
	margin: 15px; 
	padding: 15px;
	 border-radius: 10px;
}


.my-component {
	border: solid 1px; 
	width: 100px;
	margin: auto; 
	padding: 15px;
}

